.overlay-background(class=@hiddenUnlessOverlayVideoVisible)
  dialog.overlay.video-overlay(click=@stopPropagation tabindex="-1")
    section.pop-over-actions
      .wistia_responsive_padding
        .wistia_responsive_wrapper
          .wistia_embed.wistia_async_vskja9agqj(videoFoam=true)
