- logo = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fcarp.svg"

.content.error-page
  .container
  
    h1 Page Not Found
    h2 Maybe a typo? Or perhaps it's moved?

    .actions
      a(href="https://glitch.com")
        img(src=logo width=80)

    .beta beta

    canvas#stars
    script(src="https://gomix.com/error-page.js")
