.button,
button
  text-align: left
  font-size: 14px
  line-height: 14px
  font-weight: 600
  background-color: white
  border: solid primary 2px
  display: inline-block
  border-radius: 5px
  padding: 6px 12px
  padding-bottom: 5px
  cursor: pointer
  position: relative
  vertical-align: middle
  &:hover
    background-color: secondary-background
  &:active
    background-color: secondary-background-active
    color: primary
  &.has-emoji
    padding-top: 5px
    padding-bottom: 5px
    
.button-cta
  color: primary
  font-weight: 600
  border: solid primary 2px
  display: inline-block
  border-radius: 5px
  padding: 6px 12px
  cursor: pointer
  background-color: cta
  box-shadow: 4px 4px 0 primary
  &:hover
    background-color: cta
    box-shadow: 2px 2px 0 primary
    // position: relative
    // top: 2px
    // left: 2px
  &:active
    background-color: cta
    box-shadow: none

// .button-secondary
//   border-width: 1px
//   font-size: 11px
//   padding: 2px 4px
//   padding-right: 5px
//   border-color: line-on-secondary-background
//   color: text-on-secondary-background
//   &:hover
//     color: primary
//     background-color: secondary-background-active
//   &:active
//     border-color: primary

.button-small
  font-size: 12px
  padding: 4px 8px
  padding-top: 5px
  line-height: 12px
  // &.button-cta
  //   padding: 5px 10px
  
.button-tertiary
  color: tertiary
  border-width: 1px
  border-color: secondary
  cursor: pointer
  display: inline-block
  // margin-top: 10px
  &:hover
    color: primary
    border-color: line-on-secondary-background

.button-on-secondary-background
  color: text-on-secondary-background
  border-color: line-on-secondary-background
  background-color: secondary-background
  &:hover
    color: primary
    background-color: secondary-background-active
  &:active,
  &:focus
    border-color: primary
    outline: none

.button-borderless
  cursor: pointer
  display: inline-block
  padding-right: 5px
  position: relative
  &:hover
    opacity: 1;
    background-color: #eaeaea;
    border-radius: 5px;
    border: none;
    .down-arrow
      opacity: 1
