.emoji
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: sub
  background-repeat: no-repeat
  background-size: contain
  &.bento-box
    background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fbento-box.png?1502469566743')
  &.octocat
    background-image: url("https://gomix.com/images/emojis/github-logo-light.svg")
    margin-left: 4px
  &.facebook
    background-image: url("https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Ffacebook-logo.png")
    width: 15px
    margin-left: 4px
  &.balloon
    background-image: url("https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fballoon.png")
  &.sparkles
    background-image: url("https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fsparkles.png?1494859430570")
    // vertical-align: -3px
  &.carp_streamer
    background-image: url("https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fcarp_streamer.png?1495811307116")
  // &.crown
  //   background-image: url("https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fcrown.png?1496334299094")
  //   vertical-align: -3px
  //   margin-left: 1px
  // &.cherry_blossom
  //   background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fcherry_blossom.png?1500406466871')
  //   vertical-align: top
  //   margin-left: 2px
  &.pushpin
    background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fpushpin.png?1500918744339')
  &.thumbs_down
    background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fthumbs_down.png?1503415943993')
  &.framed_picture
    background-image: url('https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fframed_picture.png?1496341054682')
    margin-left: 2px
    margin-bottom: 1px
  &.sparkling_heart
    background-image: url('https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fsparkling_heart.png?1496347645716')
  &.wave
    background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fwave.png?1502123444938')
  &.fishing_pole
    background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Ffishing_pole.png?1503525896764')
    
  &.avatar
    border-radius: 3px
    margin-left: 2px
  &.emoji-in-title
    width: 20px
    height: 20px
    margin-left: 5px
