monospace = Menlo, Consolas, Monaco, "Lucida Console", Monospace
sansserif = "Benton Sans", Helvetica, Sans-serif

primary = #222
secondary = #C3C3C3
tertiary = #9B9B9B
primary-background = white
secondary-background = #F5F5F5
secondary-background-active = #E8E8E8
text-on-secondary-background = #727272
line-on-secondary-background = #B8B8B8
input-border = #CCC
input-border-focused = #A2D7FF
marketing = #FFD1C6
overlay-background = rgba(255, 255, 255, 0.8)
cta = #83ffcd
link = #3652D3
section-line = #E5E5E5
private = #fcf3b0
beta = private
pop-shadow = 0px 2px 5px 0px rgba(0,0,0,0.27), 0px 1px 1px 0px rgba(0,0,0,0.15)

error = #FF5F5F
warning = #FFAABF
warning-background = #ffdadf
notification = #9588EA
success = #05D458

help-tag = #54F8D6

anon-user-sign-up-project-outer = #C454FF
anon-user-sign-up-project-inner = #ff93b9

heart = "https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3Ab0bac0a2-1470-4ff8-b72d-acc002ba0a16%2Fheart.svg"
showApp = "https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3Ab0bac0a2-1470-4ff8-b72d-acc002ba0a16%2Fshow-app.svg"
search = "https://cdn.gomix.com/us-east-1%3Acba180f4-ee65-4dfc-8dd5-f143280d3c10%2Fsearch.svg"

smallViewport = 414px
mediumViewport = 670px
largeViewport = 900px
hugeViewport = 1080px

// file-styles = rgba(148, 69, 176, 1)

*
  box-sizing: border-box

body
  font-family: sansserif
  color: primary
  margin: 0
  
.content
  padding: 1rem 5%
  margin-left: auto
  margin-right: auto
  width: 100%
  max-width: 1207px
  // overflow: hidden
  // @media (max-width: 400px)
  //   padding-left: 15px
  //   padding-right: 15px
  
h1
  font-weight: bold
  font-size: 22px

h2
  font-weight: bold
  font-size: 18px
  a
    color: primary

p
  line-height: 20px

a
  color: link
  text-decoration: none
  &:hover
    text-decoration: underline

hr
  background-color: section-line
  height: 1px
  border: none

.hidden
  display: none !important

.visible
  display: inherit !important  
  
.general-link
  color: link !important
  
.centered
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

button,
input,
textarea
  font-family: sansserif

main,
section
  clear: both

section,
article
  margin-top: 1rem
  margin-bottom: 1rem

section
  margin-top: 2rem

input
  border-color: input-border
  width: 200px
  height: 25px
  border-radius: 3px
  border-style: solid
  border-width: 1px
  padding-left: 10px
  // padding-bottom: 2px
  font-size: 13px
  background-repeat: no-repeat
  background-position: right 5px center
  transition: all .1s
  &:focus
    outline: none
    box-shadow: 0px 0px 3px 0px input-border-focused

.search-results
  margin-top: 0

.by-fogcreek
  img
    margin-top: 0.5rem
    margin-bottom: 1rem
  p
    max-width: 500px

.warning
  background-color: warning-background

.legible-background
  background-color: white

.beta
  position: fixed
  right: 20px
  bottom: 15px
  z-index: 4
  display: inline-block
  background-color: beta
  font-size: 12px
  font-weight: bold
  padding: 4px 8px
  padding-bottom: 2px
  vertical-align: middle
  margin-left: 5px
  user-select: none

.avatar
  display: inline-block
  width: 32px
  height: 32px
  border-radius: 5px   

.made-in-glitch
  padding-top: 1rem
  border-top: 1px solid section-line

.screen-reader-text 
  clip: rect(1px, 1px, 1px, 1px)
  height: 1px
  width: 1px
  overflow: hidden
  position: absolute !important

