down-arrow = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fdown-arrow.svg"

.icon 
  display: inline-block
  background-repeat: no-repeat
  cursor: pointer
  background-position: center
  vertical-align: middle

.down-arrow
  background-image: url(down-arrow)
  width: 10px
  height: 8px
  margin-left: 5px
  opacity: 0.4
  background-repeat: no-repeat

.verified
  display: inline-block
  width: 20px
  height: auto
  vertical-align: -2px
  margin-left: 5px

.for-platforms-icon
  margin-right: 2px
  width: 46px
  vertical-align: middle
