anonAvatar = "https://cdn.gomix.com/01a72eba-647e-4abf-abe6-89b02e388a7f%2Fanon-avatar.svg"

.profile
  // overflow: auto
  // margin-top: 1rem
  
  .profile-container
    border-radius: 5px
    padding: 16px
    // overflow: auto
    background-size: 100%
    background-position: center
    
    .user-names
      display: none
  
  .profile-info
    width: 22%
    margin-top: 0
    margin-right: 3%
    @media (max-width: 800px)
      width: 34%
      float: none
    @media (max-width: 400px)
      width: 45%
    
    .description
      margin-top: 0
      width: 100%
      p
        margin: 0

  .user-avatar-container
    width: 80%
    @media (max-width: 800px)
      width: 50%

  .user-avatar
    position: relative
    height: 0
    padding-bottom: 100%
    margin-bottom: 1rem
    border-radius: 5px
    background-size: contain
    background-repeat: no-repeat
    background-position: center

  .anon-user-avatar
    background-image: url(anonAvatar)
    background-position: center
    background-size: 65%
    background-color: cyan

  .projects
    display: inline
    padding: 0
  
  .projects-container
    overflow: hidden
    
  .project
    &:hover,
    &:active
      button
        background-color: cta
    &:after
      border-bottom-color: section-line
  
  .sparkling_heart
    width: 18px
    height: 18px

  .upload-cover-button
    position: absolute
    top: 5px
    right: 5px

  .upload-avatar-button
    position: absolute
    top: -5%
    right: 0


.recent-projects
  
  .profile-info
    margin: 0
    display: inline-block    
    @media(max-width: 800px)
      width: 45%

  .user-avatar-container
    min-width: 130px
    .button
      color: primary
  
  .projects
    display: inline-block
    margin: 0
    width: 78%
    @media(max-width: 800px)
      width: 100%
      margin-top: 1rem
