- fogcreek = "https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Ffogcreek.svg"

section.by-fogcreek(role="complementary")
  h2 Made By Fog Creek
  img(src=fogcreek alt="Fog Creek logo")
  p You might know us for making Trello, FogBugz, and co-creating Stack Overflow. We're 
    a(href="https://www.fogcreek.com") a friendly, self-funded company 
    span= " that's been helping people make stuff for over #{@fogcreekAge()} years."
