a.user.opens-pop-over.team-user-avatar(click=@showTeamUserOptionsPop title=@login data-tooltip=@tooltipName data-tooltip-left=true @style)
  img(width=32 height=32 src=@avatarUrl @alt)
  .button-borderless
    .down-arrow
