dialog.pop-over.sign-in-pop(click=@stopPropagation)
  section.pop-over-actions.last-section

    a.button-link(href=@facebookAuthLink)
      .button.button-small Sign in with Facebook
        span.emoji.facebook

    a.button-link(href=@githubAuthLink)
      .button.button-small Sign in with GitHub
        span.emoji.octocat
