.category-page
  .category-name
    margin-top: 0

  .projects
    width: 100%
    margin-right: initial
    .category
      img
        padding-bottom: 0.5rem
      .description
        max-width: initial

// .categories-page
//   .about
//     display: none
