.search-results

  // .users
  //   margin-bottom: 0

  article
    margin: 0
  
  .projects
    margin-top: 0
    padding: 0

    .project
      margin-bottom: 12px
    
    // > h2
    //   margin-bottom: calc(0.83em - 10px)
    
    .projects-container,
    .users-container
      overflow: initial
      border-radius: 5px
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-items: flex-end

    .users-container
      .user
        width: initial
        height: initial
//       li
//         float: none
      
  .no-results
    margin-bottom: 2rem
    p
      margin: 0
