- psst = "https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fpsst.svg?1500486136908"

article.projects
  h2
    span= @sectionTitle
      span.emoji.pushpin.emoji-in-title(class=@hiddenUnlessTitleIsPinned)
  .placeholder.hidden(class=@visibleIfNoPins)
    img.psst(src=psst)
    p Pin your projects to show them off
      span.emoji.pushpin
  ul.projects-container
    = @projects
