.cta-buttons
  position: relative
  margin-top: 1rem
  button,
  .button
    margin-right: 10px
    @media (max-width: smallViewport)
      margin-bottom: 12px
  .buttons-wrap
    position: relative
    // margin-top: 2rem
  .marketing
    background-color: secondary-background-active
    display: inline-block
    border-radius: 5px
    padding: 6px
    margin-top: 0
    margin-bottom: 2rem
    button
      margin-left: 5px
      vertical-align: middle
