footer
  border-top: 1px solid section-line
  padding-top: 2rem
  margin-top: 2rem
  margin-bottom: 2rem
  overflow: auto

  p
    margin-top: 1rem
    margin-left: initial
    &:first-child
      margin-top: 0

  .bird
    display: inline-block
    vertical-align: middle
    width: 2.5rem
    margin-right: 0.3rem

  .glitch-for-links
    margin-top: 1rem

//   .for-platforms-icon
//     margin-right: 5px
//     vertical-align: -10px