.what-is-glitch
  margin-top: 0
  margin-bottom: 2rem

  figure
    margin: 0
    .narrow
      display: none
    @media (max-width: mediumViewport)
      .narrow
        display: block
      .wide
        display: none

  .free
    width: 55px
    vertical-align: sub

  .video
    display: inline-block
    border: 0
    font-weight: normal
    font-size: 1em
    color: link
    cursor: pointer
    .play-button
      vertical-align: -6px
      margin-right: 5px
      margin-left: 2px
    &:hover
      text-decoration: underline

  p
    margin: 0
